html {
  background: rgb(225,225,225);
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(50,50,50);
  font: arial;
}

table, th, td {
	border: 2px solid rgb(50,50,50);
	font-size: 120%;
	border-collapse: collapse;
	text-align: center;
}

h3 {
  margin: 5px;
}

p {
  margin: 2px;
}

th {
  padding: 10px;
}

td {
  padding: 5px;
}

.link {
	font-size: 150%;
}
