<!-- Style in _tags.scss -->
{%- if post.cover-photo.size > 0 -%}

<style>
  /* Large screens */
  @media (min-width: 800px) {
    .container-photo-description {
      display: -webkit-box;
    }

    /* Images should be 3:2. Medium and WSJ use this ratio. */

    .container-photo {
      padding-right: 20px;
      width: 30%;
      /* Center image, doesn't work for small screens */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container-description {
      width: 70%;
    }
  }

  /* Small screens */
  @media (max-width: 799px) {
    .container-photo-description {
      display: block;
    }

    .container-photo {
      max-width: 400px;
    }
  }
</style>

<!-- Light gray border -->
<img
  src="{{ post.cover-photo }}"
  alt="cover photo"
  class="photo"
  style="border: 1px solid rgb(245, 245, 245)"
/>
{%- endif -%}
