.box {
    padding: 5px;
    border-radius: 5px 5px 5px;
    font-size: 12px;
}

$box-background: #caf4ff;
$box-border: #006ac1;
.project-box {
    @extend .box;
    color: $box-border;
    background-color: $box-background;
    border: 1px solid $box-border;
}

$box-background: #e6fde5;
$box-border: #2e322e;
.post-box {
    @extend .box;
    color: $box-border;
    background-color: $box-background;
    border: 1px solid $box-border;
}