---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}" style="text-decoration: none;">
        {%- include cover-photo.html -%}
        {%- include tags.html -%}
        &nbsp<!-- Space  -->
        {%- assign date_format = site.minima.date_format -%}
        <span class="post-meta">{{ post.date | date: date_format }} </span>
      </a>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {%- if post.redirect_to -%}
          <img src="/assets/redirect-icon.png" width="15px" style="filter: contrast(0);">
          &nbsp;
          {%- endif -%}
          {{ post.title | escape }}
        </a>
        {%- if post.subtitle -%}
        <p style="color:#5f5f5f;">{{ post.subtitle }}</p>
        {%- endif -%}
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  <!--
    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
    -->
  {%- endif -%}
</div>